# SPDX-License-Identifier: Apache-2.0

CONFIG_XIP=n

CONFIG_NXP_IRQSTEER=y

CONFIG_FIRMWARE=y
CONFIG_POWER_DOMAIN=y
CONFIG_PM_DEVICE=y

# clock-related configurations
CONFIG_CLOCK_CONTROL=y

# serial-related configurations
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_CONSOLE_HANDLER=y
CONFIG_UART_INTERRUPT_DRIVEN=y
