/*
 * Copyright 2023 NXP
 *
 * Experimental ENET binding overlay
 */


&enet0 {
	status = "okay";
	power-domain = <&pd_domain>;
};

&enet0_lpcg {
	status = "okay";
	power-domain = <&pd_domain>;
};

&enet_mac {
	status = "okay";
	pinctrl-0 = <&pinmux_enet>;
	pinctrl-names = "default";
	phy-handle = <&phy>;
	zephyr,random-mac-address;
	phy-connection-type = "rgmii";
};

&enet_mdio {
	status = "okay";
	pinctrl-0 = <&pinmux_enet_mdio>;
	pinctrl-names = "default";
	phy: phy@1 {
		compatible = "ti,dp83867";
		reg = <1>;
		status = "okay";
		ti,interface-type = "rgmii-id";
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
		ti,enet-phy-lane-no-swap;
		ti,led0-active-low;
		ti,led2-active-low;
	};
};

&enet_ptp_clock {
	status = "okay";
	pinctrl-0 = <&pinmux_ptp>;
	pinctrl-names = "default";
};
